* {
  font-family: Montserrat;
}

a:link {
 color: rgb(26, 24, 24);
}
body {
  background-color: #9ca892;
}

.wrapper {

  display: flex;
  padding-top: 20px;
  padding-left: 25px;
  width: 100%;
  min-height: 100vh;
  /* align-items: stretch; */
  justify-content: left;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 200vh;
}


#iconClass{
  max-width: 50px;
  max-height: 100px;

}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #9FBC88;
    color: rgb(26, 24, 24);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
   
 
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#sidebar ul p {
    color: rgb(26, 24, 24);
    padding: 40px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
  color: rgb(26, 24, 24);
    background: #fff;
}


.wrapper_two {
  display: flex;
  width: 100%;
  min-height: 200veh;
  justify-content: right;
}

h3 {
  background: #9FBC88;
  margin-top: 100%;
}
#margin_class {
  border: 1px solid black;
  padding: 25px 50px 75px 100px;
  background-color: lightblue;
}






/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  #sidebar{
  min-width: 100%;
  max-width: 100%;
  min-height: 20vh;
}


.coll-6{
  min-width: 100%;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .coll-6{
    min-width: 100%;
  }
   #sidebar{
    min-width: 100%;
    max-width: 100%;
    min-height: 20vh;
  }
  .navbar-toggler-icon{display: none; }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  /* #sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
  }
  .wrapper_two {
    min-width: 100%
  } */
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }


@media (min-width: 1400px) {  }


.parallax {
  /* The image used */
  background-image: url("./images_assets/header.jpeg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.claw {
  --bs-gutter-x:0
}